* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#chatbot {
  padding-bottom: 40px;
  border-color: transparent;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.03),
    0px 4px 10px 0px rgba(65, 64, 66, 0.1);
}

.header-wrapper {
  background: linear-gradient(123.75deg, #F5821F 1.87%, #FF5C00 120.46%);  color: #fff;
  border-color: transparent;
  border-radius: 20px 20px 0px 0px;
  padding: 20px 50px 80px;
}

.header-text {
  font-size: 30px;
  margin-bottom: 16px;
  line-height: 23px;
}

.sub-header {
  font-size: 22px;
  margin-bottom: 8px;
  line-height: 23px;
}

.body-text {
  font-size: 18px;
  line-height: 23px;}

.content {
  border-radius: 5px 5px;
  padding: 0px 15px 15px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.03),
    0px 4px 10px 0px rgba(65, 64, 66, 0.1);
  margin-top: -40px;
  background-color: #fff;
  font-size: 14px;
  color: #737373;
  position: relative;
  border: 1px solid #ccc;
}

.chatbot-icon {
  position: absolute;
  top: -25px;
  left: 35px;
  z-index: 1;
  color: #fff;
  width: 60px;
  height: 60px;
  background: linear-gradient(180deg, #FF7600 0%, #FF5C00 100%);  background-repeat: no-repeat;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
  border: 0;
  border-radius: 50%;
  font-size: 32px;
  background-position: center center;

}

#chaticon {
  margin-top: 12px;;
}
.faq {
  padding: 50px 25px 0px;
}

.faq p {
  font-weight: bold;
  color: #2D2D2D;
}

.faq ul {
  list-style: none;
  font-size: 12px;

}
ul li::before {
  content: "\2022";
  color:rgba(255, 118, 0, 0.8);
  font-weight: bold;
  display: inline-block; 
  width: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7' cy='7' r='7' fill='%23FF7600' fill-opacity='0.15'/%3E%3Ccircle cx='7' cy='7' r='4' fill='%23FF7600' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
  border: 0;
  text-align: center;
  border-radius: 50%;
}
.question{
  content: "\2022";
  color:rgba(255, 118, 0, 0.8);
  font-weight: bold;
  display: inline-block; 
  width: 15px;
    background-color:rgba(255, 118, 0, 0.15);
  border: 0;
  text-align: center;
  border-radius: 50%;
}

.faq li {
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 10px 10px;
  margin-top: 10px;
  color: #2D2D2D;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.03),
    0px 4px 10px 0px rgba(65, 64, 66, 0.1);
}

.action {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.action button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 25px 25px;
  background-color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeInAnimated {
  opacity: 0;
  animation: fadeIn 2s linear 1;
}

.fadeInAnimated.completed {
  opacity: 1;
}
