body {
  font-family: DM Sans ;
}

#chatbot-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  color: #fff;
  width: 60px;
  height: 60px;
  background-color: #FF5C00;
  background-repeat: no-repeat;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
  border: 0;
  border-radius: 50%;
  font-size: 32px;

}
#close{
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  color: #fff;
  width: 60px;
  height: 60px;
  background-color: #FF5C00;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  font-size: 32px;
  margin-top: 12px;

}

#chaticon {
  margin-top: 12px;
}
.frame-container {
  background-color: #fff;
  position: fixed;
  bottom: 0px;
  right: 20px;
 
}
